{% extends "shop/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-warning mb-4">Payment</h2>

    <div class="card p-4 shadow-sm">
        <h4>Order Summary</h4>
        <p><strong>Customer:</strong> {{ order.customer_name }}</p>
        <p><strong>Total:</strong> NGN {{ order.total }} </p>

        <form method="post">
            {% csrf_token %}
            <!-- Later we’ll connect Paystack/Stripe here -->
            <button type="submit" class="btn btn-success">Pay Now</button>
        </form>
    </div>
</div>
{% endblock %}

